忽略大小写:YES
启用_Rename.csv:NO
启用_Replace.csv:YES
启用鼠标:YES
显示菜单栏:YES
启用调试命令:NO
允许多重启动:YES
自动保存进度:YES
启用键盘宏:YES
允许调整窗口高度:YES
绘图界面:GRAPHICS
窗口宽度:760
窗口高度:480
窗口X坐标:0
窗口Y坐标:0
启动时固定窗口位置:NO
启动时将窗口最大化:NO
记录日志的行数:5000
PRINTC并列数量:3
PRINTC文字数量:25
字体名称:ＭＳ ゴシック
字体大小:18
每行高度:19
文字色:192,192,192
背景色:0,0,0
選択中文字色:255,255,0
履歴文字色:192,192,192
每秒帧数:5
最大SKIP帧数:3
滚动行数:1
死循环超时警告(毫秒):5000
最低显示警告等级:1
加载时显示报告:NO
加载时解析参数:NO
忽略未被调用过的函数:YES
函数未找到时的警告处理:IGNORE
函数未被调用时的警告处理:IGNORE
不对按钮行折返换行:NO
检索子目录:NO
按文件名顺序读取:NO
使用存档数量:20
显示eramaker兼容性相关警告:YES
允许重写系统函数:YES
重写系统函数时显示警告:YES
关联文本编辑器:notepad
编辑器运行参数:USER_SETTING
编辑器运行参数值:
重复定义非事件函数时显示警告:NO
执行未能解析的行:NO
CALLNAME空字符串时代入NAME:NO
在sav文件夹中创建存档:NO
伪变量RAND符合eramaker规范:NO
函数、属性大小写敏感:NO
使用全角空格填充空白区域:YES
以UTF-8格式保存存档:NO
重现ver1739前的非按钮折返:NO
内部使用东亚语言:JAPANESE
ONEINPUT系命令でマウスによる2文字以上の入力を許可する:NO
允许CALL调用事件函数:NO
使用SP角色:NO
以二进制形式保存存档:NO
用户函数允许省略全部参数:NO
用户参数自动补充TOSTR:NO
展开FORM中的三连记号:NO
TIMES的计算符合eramaker规范:NO
禁用角色变量的参数自动补全:NO
全部以UTF-8编码输出文件:YES
全部以UTF-8编码读入文件:NO
